In [1]:
import os
import pandas as pd
import sklearn as skl
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import tensorflow as tf


spark_version = 'spark-3.1.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()
from pyspark.sql.functions import col

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Fetched 88.7 kB in 3s (32.5 kB/s)
Reading package lists... Done

In [2]:
# download a Postgres driver
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-08-04 16:13:51--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar.4’

postgresql-42.2.16. 100%[===================>] 979.38K  --.-KB/s    in 0.1s

2021-08-04 16:13:52 (6.50 MB/s) - ‘postgresql-42.2.16.jar.4’ saved [1002883/1002883]

In [3]:
# start a Spark session with driver
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Olympic-Analysis").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [4]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url ="https://olympicclassproject.s3.us-east-2.amazonaws.com/cleandatabmi.xlsb.csv"
spark.sparkContext.addFile(url)
cleandatadf = spark.read.csv(SparkFiles.get("cleandatabmi.xlsb.csv"), sep=",", header=True, inferSchema=True)

In [5]:
# Show DataFrame
cleandatadf.show()

+--------------------+---+---+------+------+-----------+-----------+------+--------------------+------+---+
|                Name|Sex|Age|Height|Weight|       Team|      Games|Season|               Event| Medal|BMI|
+--------------------+---+---+------+------+-----------+-----------+------+--------------------+------+---+
|Juhamatti Tapio A...|  M| 28|   184|    85|    Finland|2014 Winter|Winter|Ice Hockey Men's ...|Bronze| 25|
|Paavo Johannes Aa...|  M| 28|   175|    64|    Finland|1948 Summer|Summer|Gymnastics Men's ...|Bronze| 21|
|Paavo Johannes Aa...|  M| 28|   175|    64|    Finland|1948 Summer|Summer|Gymnastics Men's ...|  Gold| 21|
|Paavo Johannes Aa...|  M| 28|   175|    64|    Finland|1948 Summer|Summer|Gymnastics Men's ...|  Gold| 21|
|Paavo Johannes Aa...|  M| 28|   175|    64|    Finland|1948 Summer|Summer|Gymnastics Men's ...|  Gold| 21|
|Paavo Johannes Aa...|  M| 32|   175|    64|    Finland|1952 Summer|Summer|Gymnastics Men's ...|Bronze| 21|
|  Kjetil Andr Aamodt|  M| 20|   176|    85|     Norway|1992 Winter|Winter|Alpine Skiing Men...|  Gold| 27|
|  Kjetil Andr Aamodt|  M| 20|   176|    85|     Norway|1992 Winter|Winter|Alpine Skiing Men...|Bronze| 27|
|  Kjetil Andr Aamodt|  M| 22|   176|    85|     Norway|1994 Winter|Winter|Alpine Skiing Men...|Silver| 27|
|  Kjetil Andr Aamodt|  M| 22|   176|    85|     Norway|1994 Winter|Winter|Alpine Skiing Men...|Bronze| 27|
|  Kjetil Andr Aamodt|  M| 22|   176|    85|     Norway|1994 Winter|Winter|Alpine Skiing Men...|Silver| 27|
|  Kjetil Andr Aamodt|  M| 30|   176|    85|     Norway|2002 Winter|Winter|Alpine Skiing Men...|  Gold| 27|
|  Kjetil Andr Aamodt|  M| 30|   176|    85|     Norway|2002 Winter|Winter|Alpine Skiing Men...|  Gold| 27|
|  Kjetil Andr Aamodt|  M| 34|   176|    85|     Norway|2006 Winter|Winter|Alpine Skiing Men...|  Gold| 27|
|    Pepijn Aardewijn|  M| 26|   189|    72|Netherlands|1996 Summer|Summer|Rowing Men's Ligh...|Silver| 20|
|  Ann Kristin Aarnes|  F| 23|   182|    64|     Norway|1996 Summer|Summer|Football Women's ...|Bronze| 19|
|   Giovanni Abagnale|  M| 21|   198|    90|      Italy|2016 Summer|Summer|Rowing Men's Coxl...|Bronze| 23|
| Jos Luis Abajo Gmez|  M| 30|   194|    87|      Spain|2008 Summer|Summer|Fencing Men's epe...|Bronze| 23|
|   Patimat Abakarova|  F| 21|   165|    49| Azerbaijan|2016 Summer|Summer|Taekwondo Women's...|Bronze| 18|
|Mariya Vasilyevna...|  F| 22|   179|    80|     Russia|2008 Summer|Summer|Athletics Women's...|Silver| 25|
+--------------------+---+---+------+------+-----------+-----------+------+--------------------+------+---+
only showing top 20 rows

In [6]:
#Assign Medal types a number
from pyspark.ml.feature import StringIndexer

indexer = StringIndexer(inputCol="Medal", outputCol="Medals") 
cleandatadf = indexer.fit(cleandatadf).transform(cleandatadf) 
cleandatadf = cleandatadf.drop('Medal')
cleandatadf.show()

+--------------------+---+---+------+------+-----------+-----------+------+--------------------+---+------+
|                Name|Sex|Age|Height|Weight|       Team|      Games|Season|               Event|BMI|Medals|
+--------------------+---+---+------+------+-----------+-----------+------+--------------------+---+------+
|Juhamatti Tapio A...|  M| 28|   184|    85|    Finland|2014 Winter|Winter|Ice Hockey Men's ...| 25|   0.0|
|Paavo Johannes Aa...|  M| 28|   175|    64|    Finland|1948 Summer|Summer|Gymnastics Men's ...| 21|   0.0|
|Paavo Johannes Aa...|  M| 28|   175|    64|    Finland|1948 Summer|Summer|Gymnastics Men's ...| 21|   1.0|
|Paavo Johannes Aa...|  M| 28|   175|    64|    Finland|1948 Summer|Summer|Gymnastics Men's ...| 21|   1.0|
|Paavo Johannes Aa...|  M| 28|   175|    64|    Finland|1948 Summer|Summer|Gymnastics Men's ...| 21|   1.0|
|Paavo Johannes Aa...|  M| 32|   175|    64|    Finland|1952 Summer|Summer|Gymnastics Men's ...| 21|   0.0|
|  Kjetil Andr Aamodt|  M| 20|   176|    85|     Norway|1992 Winter|Winter|Alpine Skiing Men...| 27|   1.0|
|  Kjetil Andr Aamodt|  M| 20|   176|    85|     Norway|1992 Winter|Winter|Alpine Skiing Men...| 27|   0.0|
|  Kjetil Andr Aamodt|  M| 22|   176|    85|     Norway|1994 Winter|Winter|Alpine Skiing Men...| 27|   2.0|
|  Kjetil Andr Aamodt|  M| 22|   176|    85|     Norway|1994 Winter|Winter|Alpine Skiing Men...| 27|   0.0|
|  Kjetil Andr Aamodt|  M| 22|   176|    85|     Norway|1994 Winter|Winter|Alpine Skiing Men...| 27|   2.0|
|  Kjetil Andr Aamodt|  M| 30|   176|    85|     Norway|2002 Winter|Winter|Alpine Skiing Men...| 27|   1.0|
|  Kjetil Andr Aamodt|  M| 30|   176|    85|     Norway|2002 Winter|Winter|Alpine Skiing Men...| 27|   1.0|
|  Kjetil Andr Aamodt|  M| 34|   176|    85|     Norway|2006 Winter|Winter|Alpine Skiing Men...| 27|   1.0|
|    Pepijn Aardewijn|  M| 26|   189|    72|Netherlands|1996 Summer|Summer|Rowing Men's Ligh...| 20|   2.0|
|  Ann Kristin Aarnes|  F| 23|   182|    64|     Norway|1996 Summer|Summer|Football Women's ...| 19|   0.0|
|   Giovanni Abagnale|  M| 21|   198|    90|      Italy|2016 Summer|Summer|Rowing Men's Coxl...| 23|   0.0|
| Jos Luis Abajo Gmez|  M| 30|   194|    87|      Spain|2008 Summer|Summer|Fencing Men's epe...| 23|   0.0|
|   Patimat Abakarova|  F| 21|   165|    49| Azerbaijan|2016 Summer|Summer|Taekwondo Women's...| 18|   0.0|
|Mariya Vasilyevna...|  F| 22|   179|    80|     Russia|2008 Summer|Summer|Athletics Women's...| 25|   2.0|
+--------------------+---+---+------+------+-----------+-----------+------+--------------------+---+------+
only showing top 20 rows

In [7]:
pandas_df=cleandatadf.toPandas()

In [8]:
#Drop non-feature columns
pandas_df.drop(['Name', "Sex", "Team", "Games", "Season", "Event"], inplace=True, axis=1)
pandas_df.head()

  Age  Height  Weight BMI  Medals
0  28     184      85  25     0.0
1  28     175      64  21     0.0
2  28     175      64  21     1.0
3  28     175      64  21     1.0
4  28     175      64  21     1.0

In [9]:
pandas_df.nunique(axis=0)

Age        52
Height    111
Weight    160
BMI        40
Medals     80
dtype: int64

In [10]:
#create categorical variable list for encoding
olympic_cat = pandas_df.dtypes[pandas_df.dtypes == "object"].index.tolist()
olympic_cat

['Age', 'BMI']

In [11]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(pandas_df[olympic_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(olympic_cat)

In [12]:
#Merge encoded values and numbered medals and drop original columns
pandas_df = pandas_df.merge(encode_df,left_index=True, right_index=True)
pandas_df = pandas_df.drop(olympic_cat,1)

pandas_df.head()

   Height  Weight  Medals  Age_13  ...  BMI_56  BMI_Bronze  BMI_Gold  BMI_Silver
0     184      85     0.0     0.0  ...     0.0         0.0       0.0         0.0
1     175      64     0.0     0.0  ...     0.0         0.0       0.0         0.0
2     175      64     1.0     0.0  ...     0.0         0.0       0.0         0.0
3     175      64     1.0     0.0  ...     0.0         0.0       0.0         0.0
4     175      64     1.0     0.0  ...     0.0         0.0       0.0         0.0

[5 rows x 95 columns]

In [13]:
# Split preprocessed data into features and target arrays
y = pandas_df["Medals"].values
X = pandas_df.drop(["Medals"],1).values

# Split the preprocessed data into training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=3)

In [14]:
# Create StandardScaler instance
scaler = StandardScaler()

# Fit StandardScaler
X_scaler = scaler.fit(X_train)

# Scale data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
# Define model
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  60
hidden_nodes_layer2 = 4

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

nn.add(tf.keras.layers.Dense(units=4, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 60)                5700
_________________________________________________________________
dense_1 (Dense)              (None, 4)                 244
_________________________________________________________________
dense_2 (Dense)              (None, 4)                 20
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 5
=================================================================
Total params: 5,969
Trainable params: 5,969
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
708/708 [==============================] - 2s 2ms/step - loss: -0.0774 - accuracy: 0.3341
Epoch 2/100
708/708 [==============================] - 1s 2ms/step - loss: -0.4503 - accuracy: 0.3340
Epoch 3/100
708/708 [==============================] - 1s 2ms/step - loss: -0.6327 - accuracy: 0.3339
Epoch 4/100
708/708 [==============================] - 1s 2ms/step - loss: -0.7977 - accuracy: 0.3341
Epoch 5/100
708/708 [==============================] - 1s 2ms/step - loss: -0.9594 - accuracy: 0.3336
Epoch 6/100
708/708 [==============================] - 1s 2ms/step - loss: -1.1194 - accuracy: 0.3340
Epoch 7/100
708/708 [==============================] - 1s 2ms/step - loss: -1.2810 - accuracy: 0.3340
Epoch 8/100
708/708 [==============================] - 1s 2ms/step - loss: -1.4621 - accuracy: 0.3345
Epoch 9/100
708/708 [==============================] - 1s 2ms/step - loss: -1.6377 - accuracy: 0.3342
Epoch 10/100
708/708 [==============================] - 1s 2ms/step - loss: -1.8249 - accuracy: 0.3341
Epoch 11/100
708/708 [==============================] - 1s 2ms/step - loss: -2.0131 - accuracy: 0.3343
Epoch 12/100
708/708 [==============================] - 1s 2ms/step - loss: -2.1976 - accuracy: 0.3343
Epoch 13/100
708/708 [==============================] - 1s 2ms/step - loss: -2.3837 - accuracy: 0.3346
Epoch 14/100
708/708 [==============================] - 1s 2ms/step - loss: -2.5689 - accuracy: 0.3342
Epoch 15/100
708/708 [==============================] - 1s 2ms/step - loss: -2.7695 - accuracy: 0.3345
Epoch 16/100
708/708 [==============================] - 1s 2ms/step - loss: -2.9610 - accuracy: 0.3345
Epoch 17/100
708/708 [==============================] - 1s 2ms/step - loss: -3.1591 - accuracy: 0.3347
Epoch 18/100
708/708 [==============================] - 1s 2ms/step - loss: -3.3570 - accuracy: 0.3346
Epoch 19/100
708/708 [==============================] - 1s 2ms/step - loss: -3.5455 - accuracy: 0.3347
Epoch 20/100
708/708 [==============================] - 1s 2ms/step - loss: -3.7301 - accuracy: 0.3351
Epoch 21/100
708/708 [==============================] - 1s 2ms/step - loss: -3.9238 - accuracy: 0.3349
Epoch 22/100
708/708 [==============================] - 1s 2ms/step - loss: -4.1113 - accuracy: 0.3351
Epoch 23/100
708/708 [==============================] - 1s 2ms/step - loss: -4.3022 - accuracy: 0.3343
Epoch 24/100
708/708 [==============================] - 1s 2ms/step - loss: -4.5161 - accuracy: 0.3351
Epoch 25/100
708/708 [==============================] - 1s 2ms/step - loss: -4.7186 - accuracy: 0.3347
Epoch 26/100
708/708 [==============================] - 1s 2ms/step - loss: -4.9123 - accuracy: 0.3351
Epoch 27/100
708/708 [==============================] - 1s 2ms/step - loss: -5.0922 - accuracy: 0.3348
Epoch 28/100
708/708 [==============================] - 1s 2ms/step - loss: -5.2812 - accuracy: 0.3350
Epoch 29/100
708/708 [==============================] - 1s 2ms/step - loss: -5.5028 - accuracy: 0.3352
Epoch 30/100
708/708 [==============================] - 1s 2ms/step - loss: -5.6992 - accuracy: 0.3352
Epoch 31/100
708/708 [==============================] - 1s 2ms/step - loss: -5.9046 - accuracy: 0.3350
Epoch 32/100
708/708 [==============================] - 1s 2ms/step - loss: -6.0800 - accuracy: 0.3354
Epoch 33/100
708/708 [==============================] - 1s 2ms/step - loss: -6.3011 - accuracy: 0.3356
Epoch 34/100
708/708 [==============================] - 1s 2ms/step - loss: -6.5116 - accuracy: 0.3352
Epoch 35/100
708/708 [==============================] - 1s 2ms/step - loss: -6.7055 - accuracy: 0.3362
Epoch 36/100
708/708 [==============================] - 1s 2ms/step - loss: -6.9384 - accuracy: 0.3351
Epoch 37/100
708/708 [==============================] - 1s 2ms/step - loss: -7.0988 - accuracy: 0.3354
Epoch 38/100
708/708 [==============================] - 1s 2ms/step - loss: -7.3240 - accuracy: 0.3358
Epoch 39/100
708/708 [==============================] - 1s 2ms/step - loss: -7.5329 - accuracy: 0.3350
Epoch 40/100
708/708 [==============================] - 1s 2ms/step - loss: -7.7786 - accuracy: 0.3350
Epoch 41/100
708/708 [==============================] - 1s 2ms/step - loss: -7.9878 - accuracy: 0.3352
Epoch 42/100
708/708 [==============================] - 1s 2ms/step - loss: -8.1685 - accuracy: 0.3355
Epoch 43/100
708/708 [==============================] - 1s 2ms/step - loss: -8.3891 - accuracy: 0.3355
Epoch 44/100
708/708 [==============================] - 1s 2ms/step - loss: -8.6479 - accuracy: 0.3351
Epoch 45/100
708/708 [==============================] - 1s 2ms/step - loss: -8.8547 - accuracy: 0.3357
Epoch 46/100
708/708 [==============================] - 1s 2ms/step - loss: -9.0672 - accuracy: 0.3357
Epoch 47/100
708/708 [==============================] - 1s 2ms/step - loss: -9.3172 - accuracy: 0.3357
Epoch 48/100
708/708 [==============================] - 1s 2ms/step - loss: -9.5503 - accuracy: 0.3358
Epoch 49/100
708/708 [==============================] - 1s 2ms/step - loss: -9.7520 - accuracy: 0.3358
Epoch 50/100
708/708 [==============================] - 1s 2ms/step - loss: -9.9567 - accuracy: 0.3354
Epoch 51/100
708/708 [==============================] - 1s 2ms/step - loss: -10.1440 - accuracy: 0.3351
Epoch 52/100
708/708 [==============================] - 1s 2ms/step - loss: -10.3852 - accuracy: 0.3350
Epoch 53/100
708/708 [==============================] - 1s 2ms/step - loss: -10.6211 - accuracy: 0.3354
Epoch 54/100
708/708 [==============================] - 1s 2ms/step - loss: -10.8620 - accuracy: 0.3353
Epoch 55/100
708/708 [==============================] - 1s 2ms/step - loss: -10.9565 - accuracy: 0.3354
Epoch 56/100
708/708 [==============================] - 1s 2ms/step - loss: -11.1913 - accuracy: 0.3356
Epoch 57/100
708/708 [==============================] - 1s 2ms/step - loss: -11.4118 - accuracy: 0.3364
Epoch 58/100
708/708 [==============================] - 1s 2ms/step - loss: -11.6299 - accuracy: 0.3359
Epoch 59/100
708/708 [==============================] - 1s 2ms/step - loss: -11.8697 - accuracy: 0.3359
Epoch 60/100
708/708 [==============================] - 1s 2ms/step - loss: -11.9857 - accuracy: 0.3359
Epoch 61/100
708/708 [==============================] - 1s 2ms/step - loss: -12.2071 - accuracy: 0.3352
Epoch 62/100
708/708 [==============================] - 1s 2ms/step - loss: -12.4156 - accuracy: 0.3348
Epoch 63/100
708/708 [==============================] - 1s 2ms/step - loss: -12.6956 - accuracy: 0.3351
Epoch 64/100
708/708 [==============================] - 1s 2ms/step - loss: -12.8546 - accuracy: 0.3352
Epoch 65/100
708/708 [==============================] - 1s 2ms/step - loss: -13.0709 - accuracy: 0.3354
Epoch 66/100
708/708 [==============================] - 1s 2ms/step - loss: -13.4055 - accuracy: 0.3351
Epoch 67/100
708/708 [==============================] - 1s 2ms/step - loss: -13.5428 - accuracy: 0.3359
Epoch 68/100
708/708 [==============================] - 1s 2ms/step - loss: -13.7609 - accuracy: 0.3363
Epoch 69/100
708/708 [==============================] - 1s 2ms/step - loss: -13.9832 - accuracy: 0.3359
Epoch 70/100
708/708 [==============================] - 1s 2ms/step - loss: -14.1977 - accuracy: 0.3355
Epoch 71/100
708/708 [==============================] - 1s 2ms/step - loss: -14.3537 - accuracy: 0.3350
Epoch 72/100
708/708 [==============================] - 1s 2ms/step - loss: -14.6596 - accuracy: 0.3351
Epoch 73/100
708/708 [==============================] - 1s 2ms/step - loss: -14.8338 - accuracy: 0.3346
Epoch 74/100
708/708 [==============================] - 1s 2ms/step - loss: -15.0561 - accuracy: 0.3357
Epoch 75/100
708/708 [==============================] - 1s 2ms/step - loss: -15.2805 - accuracy: 0.3355
Epoch 76/100
708/708 [==============================] - 1s 2ms/step - loss: -15.5609 - accuracy: 0.3353
Epoch 77/100
708/708 [==============================] - 1s 2ms/step - loss: -15.7658 - accuracy: 0.3346
Epoch 78/100
708/708 [==============================] - 1s 2ms/step - loss: -16.0082 - accuracy: 0.3355
Epoch 79/100
708/708 [==============================] - 1s 2ms/step - loss: -16.2031 - accuracy: 0.3346
Epoch 80/100
708/708 [==============================] - 1s 2ms/step - loss: -16.4973 - accuracy: 0.3355
Epoch 81/100
708/708 [==============================] - 1s 2ms/step - loss: -16.6888 - accuracy: 0.3355
Epoch 82/100
708/708 [==============================] - 1s 2ms/step - loss: -16.9502 - accuracy: 0.3354
Epoch 83/100
708/708 [==============================] - 1s 2ms/step - loss: -17.1994 - accuracy: 0.3351
Epoch 84/100
708/708 [==============================] - 1s 2ms/step - loss: -17.4232 - accuracy: 0.3349
Epoch 85/100
708/708 [==============================] - 1s 2ms/step - loss: -17.6920 - accuracy: 0.3358
Epoch 86/100
708/708 [==============================] - 1s 2ms/step - loss: -17.9232 - accuracy: 0.3350
Epoch 87/100
708/708 [==============================] - 1s 2ms/step - loss: -18.1236 - accuracy: 0.3348
Epoch 88/100
708/708 [==============================] - 1s 2ms/step - loss: -18.3144 - accuracy: 0.3349
Epoch 89/100
708/708 [==============================] - 1s 2ms/step - loss: -18.5426 - accuracy: 0.3349
Epoch 90/100
708/708 [==============================] - 1s 2ms/step - loss: -18.7252 - accuracy: 0.3349
Epoch 91/100
708/708 [==============================] - 1s 2ms/step - loss: -19.1093 - accuracy: 0.3352
Epoch 92/100
708/708 [==============================] - 1s 2ms/step - loss: -19.2834 - accuracy: 0.3352
Epoch 93/100
708/708 [==============================] - 1s 2ms/step - loss: -19.5641 - accuracy: 0.3351
Epoch 94/100
708/708 [==============================] - 1s 2ms/step - loss: -19.7503 - accuracy: 0.3347
Epoch 95/100
708/708 [==============================] - 1s 2ms/step - loss: -19.9752 - accuracy: 0.3348
Epoch 96/100
708/708 [==============================] - 1s 2ms/step - loss: -20.2134 - accuracy: 0.3351
Epoch 97/100
708/708 [==============================] - 1s 2ms/step - loss: -20.3261 - accuracy: 0.3351
Epoch 98/100
708/708 [==============================] - 1s 2ms/step - loss: -20.6295 - accuracy: 0.3347
Epoch 99/100
708/708 [==============================] - 1s 2ms/step - loss: -20.9281 - accuracy: 0.3343
Epoch 100/100
708/708 [==============================] - 1s 2ms/step - loss: -21.1463 - accuracy: 0.3345

In [18]:
# Evaluate model using test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

236/236 - 0s - loss: -1.0933e+01 - accuracy: 0.3343
Loss: -10.933160781860352, Accuracy: 0.3343493342399597